
@{
    ViewBag.Title = "SeoSearch";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>

</p>

<div class="g">
    <!--m-->
    <div class="rc" data-hveid="27">

        <h3 class="r">
            <a href="https://shop.lpi.nsw.gov.au/wps/portal/shop/pg1" onmousedown="return rwt(this, '', '', '', '1', 'AFQjCNFntHU3zxX0bTXOz9VdWM1nq2TImQ', 'I7OWQrDl9Pox_vCopdbodg', '0ahUKEwjF_ov_2P7LAhUEHJQKHSvYCwMQFggcMAA', '', '', event)">
                Title Search &amp; Records - LPI Online Shop
            </a>
        </h3>
        <div class="s">
            <div>
                <div class="f kv _SWb" style="white-space: nowrap">
                    <cite class="_Rm">
                        https://shop.lpi.nsw.gov.au/wps/portal/shop/pg1
                    </cite>
                    <div class="action-menu ab_ctl">
                        <a class="_Fmb ab_button" href="#" id="am-b0" aria-label="Result details" aria-expanded="false" aria-haspopup="true" role="button" jsaction="m.tdd;keydown:m.hbke;keypress:m.mskpe" data-ved="0ahUKEwjF_ov_2P7LAhUEHJQKHSvYCwMQ7B0IHTAA">
                            <span class="mn-dwn-arw"></span>
                        </a>
                        <div class="action-menu-panel ab_dropdown" role="menu" tabindex="-1" jsaction="keydown:m.hdke;mouseover:m.hdhne;mouseout:m.hdhue" data-ved="0ahUKEwjF_ov_2P7LAhUEHJQKHSvYCwMQqR8IHjAA">
                            <ol>
                                <li class="action-menu-item ab_dropdownitem" role="menuitem">
                                    <a class="fl" href="https://webcache.googleusercontent.com/search?q=cache:0N9BeJov1G8J:https://shop.lpi.nsw.gov.au/wps/portal/shop/pg1+&amp;cd=1&amp;hl=en&amp;ct=clnk&amp;gl=au" onmousedown="return rwt(this, '', '', '', '1', 'AFQjCNEsH19ujm87JfAPn3nBtH3V8uB9_w', 'izHXSkDLylYNty1P7M_elg', '0ahUKEwjF_ov_2P7LAhUEHJQKHSvYCwMQIAgfMAA', '', '', event)">
                                        Cached
                                    </a>
                                </li>
                                <li class="action-menu-item ab_dropdownitem" role="menuitem">
                                    <a class="fl" href="/search?safe=off&amp;q=related:https://shop.lpi.nsw.gov.au/wps/portal/shop/pg1+online+title+search&amp;tbo=1&amp;sa=X&amp;ved=0ahUKEwjF_ov_2P7LAhUEHJQKHSvYCwMQHwggMAA">
                                        Similar
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <span class="st">
                    <em>Title Search</em>, Certificate of <em>Title Search</em>, Dealing, Plan Image, Street Address Inquiry, Water Access License <em>Search</em>, <em>Title</em> Delivery Details, <em>Title</em> Authentication,<wbr>&nbsp;...
                </span>
            </div>
        </div>
    </div><!--n-->
</div>

<div class="g">
    <!--m-->
    <div class="rc" data-hveid="33">
        <h3 class="r">
            <a href="http://www.lpi.nsw.gov.au/" onmousedown="return rwt(this, '', '', '', '2', 'AFQjCNGVqfV1phiFNT-IY-w7j2sv9zmdJg', '-vE80ILG0Azg-XylYwOf9A', '0ahUKEwjXkvu_1_7LAhWjnYMKHUsDB9wQFggiMAE', '', '', event)">
                Land and Property Information: Home
            </a>
        </h3>
        <div class="s">
            <div>
                <div class="f kv _SWb" style="white-space: nowrap">
                    <cite class="_Rm">
                        www.lpi.nsw.gov.au/
                    </cite>
                    <div class="action-menu ab_ctl">
                        <a class="_Fmb ab_button" href="#" id="am-b1" aria-label="Result details" aria-expanded="false" aria-haspopup="true" role="button" jsaction="m.tdd;keydown:m.hbke;keypress:m.mskpe" data-ved="0ahUKEwjXkvu_1_7LAhWjnYMKHUsDB9wQ7B0IIzAB">
                            <span class="mn-dwn-arw"></span>
                        </a>
                        <div class="action-menu-panel ab_dropdown" role="menu" tabindex="-1" jsaction="keydown:m.hdke;mouseover:m.hdhne;mouseout:m.hdhue" data-ved="0ahUKEwjXkvu_1_7LAhWjnYMKHUsDB9wQqR8IJDAB">
                            <ol>
                                <li class="action-menu-item ab_dropdownitem" role="menuitem">
                                    <a class="fl" href="http://webcache.googleusercontent.com/search?q=cache:blSXtF1gDsIJ:www.lpi.nsw.gov.au/+&amp;cd=2&amp;hl=en&amp;ct=clnk&amp;gl=au" onmousedown="return rwt(this, '', '', '', '2', 'AFQjCNH9P7do0GpNMUdvyQPlzBo1mY7o9w', '9EevoYC03OwbaZdywyHRyg', '0ahUKEwjXkvu_1_7LAhWjnYMKHUsDB9wQIAglMAE', '', '', event)">
                                        Cached
                                    </a>
                                </li>
                                <li class="action-menu-item ab_dropdownitem" role="menuitem">
                                    <a class="fl" href="/search?safe=off&amp;espv=2&amp;q=related:www.lpi.nsw.gov.au/+online+title+search&amp;tbo=1&amp;sa=X&amp;ved=0ahUKEwjXkvu_1_7LAhWjnYMKHUsDB9wQHwgmMAE">
                                        Similar
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <span class="st">
                    <em>Title searches</em>. Access titling ... Current turnaround times available <em>online</em>. Announcements ... Historical research. Land <em>title</em>, survey and property records.
                </span>
                <div class="_Tib">
                    You visited this page on 7/04/16.
                </div>
            </div>
        </div>
    </div><!--n-->
</div>